body{
    font-family: Arial, sans-serif;
    background-color: #19f105;
    margin: 0;
    padding: 20px;
}
.container{
    max-width: 800px;
    margin: auto;
    background: #5ee05e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
textarea{
    width: 100%;
    height: 180px;
    margin-bottom:  20px;
}
button{
    padding: 10px 20px;
    background-color: #84ec9d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #6ddc85;
    color: aqua;
}
.task{
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}
.high{
    background: #f7c0c0;
}
.medium{
    background: #f7e4c0;
}
.low{
    background: #c0f7d6;
}